[Unit]
Description=CutiePiShellCommunityProject

# Make sure we are started after logins are permitted.
After=systemd-user-sessions.service
# If Plymouth is used, we want to start when it is on its way out.
After=plymouth-quit-wait.service

# D-Bus is necessary for contacting logind. Logind is required.
Wants=dbus.socket
After=dbus.socket

# This scope is created by pam_systemd when logging in as the user.
# This directive is a workaround to a systemd bug, where the setup of the
# user session by PAM has some race condition, possibly leading to a failure.
# See README for more details.
After=session-c1.scope

After=lxc@android.service

# Since we are part of the graphical session, make sure we are started before
# it is complete.
Before=graphical.target

# Prevent starting on systems without virtual consoles
ConditionPathExists=/dev/tty0

[Service]
Environment=LANG=C.UTF-8
Environment=QT_QPA_PLATFORM=hwcomposer
Environment=EGL_PLATFORM=hwcomposer
Environment=QT_IM_MODULE=Maliit
Environment=QT_AUTO_SCREEN_SCALE_FACTOR=0
Environment=QT_SCALE_FACTOR="4"
Environment=MALIIT_FORCE_DBUS_CONNECTION=1
ExecStartPre=/usr/bin/waitforservice init.svc.vendor.hwcomposer-*
ExecStart=/usr/bin/cutie-ui-io -plugin libinput
TimeoutStartSec=30
User=32011
PAMName=login
WorkingDirectory=~
Restart=always
RestartSec=5s

# A virtual terminal is needed.
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

# Fail to start if not controlling the tty.
StandardInput=tty-fail
StandardOutput=journal
StandardError=journal

# Log this user with utmp, letting it show up with commands 'w' and 'who'.
UtmpIdentifier=tty7
UtmpMode=user

[Install]
WantedBy=graphical.target
