Source: cutie-shell
Section: libs
Maintainer: Erik Inkinen <erik.inkinen@gmail.com>
Priority: optional
Build-Depends: pkg-kde-tools,
               cmake,
               qt6-base-dev,
               qt6-base-private-dev,
               pkg-config,
               qt6-declarative-dev,
               libqt6dbus6,
               libgles-dev
Standards-Version: 4.5.1

Package: cutie-shell
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, 
          cutie-settings-daemon, 
          cutie-atmospheres-default,
          qml6-module-cutie, 
          qml6-module-qtquick, 
          qml6-module-qtquick-controls, 
          qml6-module-qtsensors, 
          qml6-module-qtwayland-compositor, 
          qml6-module-qt-labs-folderlistmodel, 
          qml6-module-qtquick-virtualkeyboard,
          qml6-module-qtqml-workerscript,
          qml6-module-qtmultimedia,
          qml6-module-qtquick-window,
          qml6-module-qtquick-templates,
          qml6-module-qtquick-layouts,
          qt6-virtualkeyboard-plugin, 
          upower
Description: This package contains Cutie Shell.

Package: cutie-atmospheres-default
Architecture: any
Multi-Arch: foreign  
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This package contains the default atmospheres for Cutie Shell.

Package: cutie-keyboard-layouts
Architecture: any 
Multi-Arch: foreign 
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This package contains OSK layouts for Cutie Shell.

Package: cutie-keyboard-style
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This package contains the default styling for Cutie Shell OSK.

Package: cutie-shell-config-convergence
Architecture: any
Multi-Arch: foreign 
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, cutie-shell
Description: This package contains Cutie Shell configuration for convergent devices.

Package: cutie-shell-config-desktop
Architecture: any 
Multi-Arch: foreign 
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, cutie-shell
Description: This package contains Cutie Shell configuration for desktop devices.
Provides: cutie-shell-config-mode
Conflicts: cutie-shell-config-mobile

Package: cutie-shell-config-hybris
Architecture: any 
Multi-Arch: foreign 
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, cutie-shell
Description: This package contains Cutie Shell configuration for hybris devices.
Provides: phosh, phosh-config-hwcomposer, gnome-console
Conflicts: phosh, phosh-config-hwcomposer, gnome-console
Replaces: phosh, phosh-config-hwcomposer, gnome-console

Package: cutie-shell-config-mobile
Architecture: any 
Multi-Arch: foreign 
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, cutie-shell
Description: This package contains Cutie Shell configuration for mobile devices.
Provides: cutie-shell-config-mode
Conflicts: cutie-shell-config-desktop